# Python
__pycache__/
*.py[cod]
*.log

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db